thead {
    background-color: black;
    color: #fffcf2;
}
th {
    cursor: pointer;
    height: 2em;
}
td {
    width:33%;
}
a {
    color: #F4F4F4;    
    text-decoration: none;
}
a:visited {
    color: #ccc5b9;
    text-decoration: none;
}
.container {
    padding-top: 55px;
}