<div class="container">
    <p>The list of lifetrees planted until 2020.03<span style="float: right;"><app-lifetrees-filter (changed)="filter($event)"></app-lifetrees-filter></span></p>    
    <table>
        <thead>
            <tr>
                <th (click)="sort('name')">Name</th>
                <th (click)="sort('city')">City</th>
                <th (click)="sort('orderTotal')">Coins</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let lifetree of filteredLifetrees">
            <td>
                <a [routerLink]="['/orders', lifetree.id]">
                    {{ lifetree.name | capitalize }}
                </a>
            </td>
            <td>{{ lifetree.city }}</td>
            <td><b>lt</b>{{ lifetree.orderTotal }}</td>
                <td>
                    <a [routerLink]="['/lifetree-details', lifetree.id]">
                        details
                    </a>
                </td>
        </tr>
        <tr *ngIf="filteredLifetrees && filteredLifetrees.length">
            <td colspan="2">&nbsp;</td>
            <td>
                <b>lt</b>{{ lifetreesOrderTotal}}
            </td>
        </tr>
        <tr *ngIf="!filteredLifetrees || !filteredLifetrees.length">
            <td colspan="4">No lifetrees found</td>
        </tr>
    </table>
    <span style="float: right;">Number of Lifetrees: {{ filteredLifetrees.length }}</span>
</div>