#login-container {
    display: grid;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    color: #fffcf2;
    padding: 0 .7em;    
}
#login-form {
    font-size: 1em;
}
#login-message {
    font-size: 1.7em;
    margin-bottom: 1.4em;
}
#login-img {
    background-color: white;
    border-radius: .3em;
    padding: .7em;
}
input[type=text], textarea {
    background: #fffcf2;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: .3em;
    float: none;
    margin-bottom: 1.5em;
    outline: 0;
    padding: .3em;
    width: 210px;
    box-shadow: 10px 10px 5px -9px rgba(0,73,0,1);
    -webkit-box-shadow: 10px 10px 5px -9px rgba(0,73,0,1);
    -moz-box-shadow: 10px 10px 5px -9px rgba(0,73,0,1);
}
input[type=text]:focus, textarea:focus {
    border-bottom: 1px solid red;
}
input[type=submit] {
    background: rgba(255,255,0,49);
    border: none;
    border-radius: .3em;
    color: #403d39;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    padding: .3em 1.4em;
}