#login-container {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    color: #fffcf2;
    padding: 0 .3em;    
    margin: auto;
}
#user-name, #password {
    width: 17em;
    height: 2.1em;
    margin: 1.4em;
}
#login-btn {
    background: rgba(255,255,0,49);
    border: none;
    border-radius: .3em;
    color: #403d39;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1.4em;
    padding: .1em 1.4em;
}
h2 {
    margin-bottom: 1em;
}