<div id="main-container">
    <div id="logo-container">
        <img id="logo-img" src="assets/img/lifeseed_bold.svg" alt="logo" height="140vw">
    </div>
    <div id="login-container">
        <p id="login-message">The name and the GPS coordinates of your <span
                style="color: rgb(0,49,0)"><b>lifetree</b></span>
        </p>
        <form>
            <label for="name">Name <span style="font-size: 0.5em;">(7 characters minimum)</span></label>
            <input type="text" id="name">
            <label for="gps-lat">Latitude <span style="font-size: 0.5em;">(7 digits precision, e.g.
                    0.1234567)</span></label>
            <input type="text" id="gps-lat">
            <label for="gps-lon">Longitude <span style="font-size: 0.5em;">(7 digits precision e.g.
                    0.1234567)</span></label>
            <input type="text" id="gps-lon">
            <a routerLink="/lifetrees"><input type="submit" value="Login"></a>
        </form>
    </div>
</div>
<div id="z-container"><span>ζ</span></div>