<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
    <!-- <a href="#" class="navbar-brand"><img width="42px" src="assets/img/lifeseed_bold_white.svg" alt="lifeseed"></a> -->
    <a href="." routerlink="." ng-reflect-router-link="." class="navbar-brand"><img width="42px" src="assets/img/lifetree0.svg" alt="lifeseed"></a>
    <!-- <span class="text-white">{{currentUser.firstName}}</span> -->
    <h1 id="mission">we tend to one lifeTree</h1>
    <!-- <span class="text-white">{{currentUser.firstName}}</span> -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="navbar-item">
          <a routerLink="/home" *ngIf="currentUser" class="nav-link" data-toggle="collapse" data-target="#navbarCollapse">Home</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/login" *ngIf="!currentUser" class="nav-link" data-toggle="collapse" data-target="#navbarCollapse">Login</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/scout7" *ngIf="currentUser" class="nav-link" data-toggle="collapse" data-target="#navbarCollapse">Scout 7</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/person" *ngIf="currentUser" class="nav-link" data-toggle="collapse" data-target="#navbarCollapse">Lifeseeds</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/register" *ngIf="currentUser" class="nav-link" data-toggle="collapse" data-target="#navbarCollapse">Connect</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/lifetrees" *ngIf="currentUser" class="nav-link" data-toggle="collapse" data-target="#navbarCollapse">Lifetrees</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/map" class="nav-link" data-toggle="collapse" data-target="#navbarCollapse">Map</a>
        </li>
        <li class="navbar-item">
          <a routerLink="#" *ngIf="currentUser" class="nav-link" data-toggle="collapse" data-target="#navbarCollapse">FAQ</a>
        </li>
        <li class="navbar-item">
          <a routerLink="#" *ngIf="currentUser" (click)="logout()" class="nav-link" data-toggle="collapse" data-target="#navbarCollapse">Logout</a>
        </li>
        <li class="navbar-item">
          <a style="white-space: nowrap;" class="nav-link" data-toggle="collapse" data-target="#navbarCollapse"><span class="flag-icon flag-icon-gb"></span>
            English</a>
        </li>
      </ul>
    </div>
  </nav>

  <div role="main">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>

  <!-- 
  <footer>
    <div id="z-container"><span>ζ</span></div>
  </footer> 
  -->

</body>