<div class="container">
    <div id="lifetrees-details-container">
        <div class="wrapper">
            <h1>Mahameru, weeping willow</h1>
        </div>
        <img src="/assets/img/lifetree1.png">
        <section class="wrapper">
            <ul class="treenotes">
                <li>
                    <blockquote>
                        <p>"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"</p>
                        <footer>- John Doe</footer>
                    </blockquote>
                </li>
                <li>
                    <blockquote>
                        <p>"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"</p>
                        <footer>- John Doe</footer>
                    </blockquote>
                </li>
            </ul>
        </section>

        <a routerLink="/lifetrees">Back</a>
    </div>
</div>