<div class="container">
    <!-- <img src="/assets/img/lifetree1.png" class="circle"> -->
    <div class="card">
        <span></span>
        <div class="card-details">
            <h1>Mahameru</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea</p>
            <!-- <a href="#">Add friend</a> -->
            <a routerLink="/lifetrees">Back</a>
        </div>
    </div>
</div>