@import "../node_modules/bootstrap/scss/bootstrap";

/* Check before committing:

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

and responsive design. 

Only leave commented out selectors/properties with an explanation, e.g.: */

/* An alternaive font:  */
/* @import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap'); */

/* Current color palette - coolors.co/004900-ffff82-fffcf2-ccc5b9-403d39  (green, yellow and light, middle, dark colors) */

/* @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'); */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html, body {    
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Nunito'; */
    margin: 0;
    padding: 0;
}

body {
    background: #000 url('./assets/img/forest.jpg');    
    background-size: cover;
    height: 100vh;
}

li a:hover {
    background: rgba(4,119,59,0.93);;
    border-radius: .3em;
}
.navbar {
    padding: 0.1rem .5rem;
}

.content {
    background: rgba(64,61,57,0.93);
    color: black;
    padding: 1em;   
    margin-top: 60px;
}
.circle {
    border-radius: 50%;
}

.admin button {
    background: rgba(255,255,0,1);
    border: none;
    border-radius: .3em;
    color: #403d39;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1.4em;
    padding: .1em 1.4em;
}
.admin button:hover {
    background: rgba(255,255,0,1);
    color: black;
}

.admin form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}

.admin .invalid-feedback {
    border-radius: .3em;
    background: rgb(255, 157, 157);
    display: inline-block;
    padding: .3em .5em;
    font-size: .7em;
    font-weight: bold;
    margin-top: -.3em;
}

.cover {
    background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

.cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}