/* Check before committing:

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

and responsive design. 

Only leave commented out selectors/properties with an explanation, e.g.: */

/* An alternaive font: @import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap'); */ */

/* Current color palette - coolors.co/004900-ffff82-fffcf2-ccc5b9-403d39  (green, yellow and light, middle, dark colors) */

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
body {
    background: #000 url('./assets/img/forest.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    display: grid;
    align-items: center; 
}
.wrapper {
    padding: 1em;
}
#logo {
    position: fixed;
    top: .7em;
    left: .7em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav {
    float: right;
    right: .7em;
    top: .7em;
}
nav ul {
    display: flex;
    margin-top: 1em;
}
nav li {
    margin-right: .5em;
}
nav li a {
    color: black;
    font-size: 0.7em;
    padding: .3em .7em;
    background-color: #fffcf2;
    border-radius: .3em;
}
.content {
    background: rgba(64,61,57,0.93);
    color: white;
    padding: 1em;   
    margin-top: 2.1em;
}
h1 {
    font-size: 2.4em;
    margin-top: 0;
}
p {
    font-size: 1.2em;
    margin-bottom: .5em;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
main {
    position: relative;
}
/* Ensure display:flex and others don't override a [hidden] */
[hidden] { display: none !important; }
footer {
    margin-top: 15px;
}
.app-title {
    line-height:50px;
    font-size:20px;
    color: white;
}
a.app-btn {
    color: black;
    background: #fffcf2;
    padding: .8em 1.5em;
    border-radius: 2em;
    margin: 1em 0 3em;
    display: inline-block;
}
.width-container {
    display: none;
}
.display-width {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #E6E6E6;
    padding: .3em;
    font-size: .85em;
}
.circle {
    border-radius: 50%;
}
/* For responsive design */
@media (min-width: 343px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    nav ul {
        position: fixed;
        top: .7em;
        right: .7em;
    
        /* Shall the right menu go under the logo in case of small screens? margin-top: 3.43em; */
    }
    nav ul li:nth-of-type(1) {
        margin-right: 0;
    }
}
#z-container {    
    color: white;
    float: right;
    font-size: 7px;    
    font-weight: bold;
}
