/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    /* background: linear-gradient(to right, rgb(0,49,0), rgba(0,49,0,0)); */
    /* background: linear-gradient(270deg, rgba(39,39,39,1) 43%, rgba(28,28,28,1) 43%, rgba(28,28,28,1) 100%); */
    /* background: linear-gradient(333deg, rgba(43,46,39,1) 29%, rgba(28,28,28,1) 29%, rgba(28,28,28,1) 40%,
     rgba(43,46,39,1) 40%, rgba(43,46,39,1) 48%, rgba(28,28,28,1) 48%, rgba(28,28,28,1) 92%, rgba(0,49,0,1) 92%, rgba(113,174,33,1) 100%); */
    /* background-image: radial-gradient(263px at 100.2% 3%, rgb(0, 49, 0) 31.1%, rgb(205, 181, 93) 36.4%, rgb(244, 102, 90) 50.9%, rgb(199, 206, 187) 60.7%, rgb(249, 140, 69) 72.5%, rgb(0, 49, 0) 72.6%); */
    background: #000 url('./assets/img/forest.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    display: grid;
    align-items: center; 
    /* text-align: center; */
}

#logo {
	position: fixed;
	top: .7em;
    left: .7em;
}

.content {
    /* background: black; */
    background: rgba(64,61,57,0.93);
    /* background: #403d39; */
    color: white;
    /* height: 100vh; */
    /* width: 100vw; */
    /* overflow: hidden; */
    padding: 1em;   
}
h1 {
    font-size: 2.4em;
    margin-top: 0;
}

p {
    font-size: 1.2em;
    margin-bottom: .5em;
}

a {
    color: #F4F4F4;    
}

a:visited {
    color: #ccc5b9;
}
/* 
html {
    overflow-x: hidden;
    overflow-y: scroll;
} */

main {
    position: relative;
    /* padding-top: 55px; */
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { display: none !important; }

footer {
    margin-top: 15px;
}

.app-title {
    line-height:50px;
    font-size:20px;
    color: white;
}

#z-container {    
    color: white;
    float: right;
    font-size: 7px;    
    font-weight: bold;
}

/*

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/