<div class="container home-container">
    <h1>Hello {{currentUser.firstName}}!</h1>
    <h3>The registered users on this machine:</h3>

    <!-- <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let user of users">
            <td>
                <b>{{user.username}}</b>
            </td>
            <td>
                {{user.firstName}}
            </td>
            <td>
                {{user.lastName}}
            </td>
            <td>
                <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
            </td>
            <br>
        </tr>
    </table> -->


    <div class="card" *ngFor="let user of users">
        <p class="title">{{user.username}}</p>
        <p class="desc">First name: {{user.firstName}} <br /> Last name: {{user.lastName}}</p>
        <!-- <a href="#" (click)="deleteUser(user.id)">Delete</a> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
            Delete
        </button>
    </div>


    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the user?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>