/* Coolors Exported Palette - coolors.co/004900-ffff00-069e2d-058e3f-04773b dark green-yellow-greens*/

body {
    display: grid;
    justify-content: center;
}

h1 {
    font-size: 2em;
    color: #fffcf2;
}

h3 {
    font-size: 1em;
    font-weight: lighter;
    color: #fffcf2;
}


.home-container {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    margin-top: 3em;
}

span {
    position: absolute;
    width: 60px;
    height: 60px;
    background: green;
    margin-top: -4em;
    border-radius: 50%;
    border: solid 1px white;
    margin-left: auto; 
    margin-right: auto; 
    left: 0;
    right: 0;
}

table {
    margin: auto;
    color: #069e2d;
    width: 100%;
}

thead {
    background-color: black;
    color: #fffcf2;
}

th {
    cursor: pointer;
    height: 2em;
    padding: .3em;
}

tr {
    border-bottom: 1px solid #403d39;
}
td {
    background-color: #fffcf2;
    padding: .3em;
}

.card {
    width: 343px;
    margin: 3em auto;
    padding: 2em;
    background: white;
    border-radius: .4em;
    text-align: center;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.15);
    position: relative;
    /* background: linear-gradient(137deg, rgba(255,255,255,1) 70%, rgba(0,49,0,1) 100%); */
    /* box-shadow: horizontal vertical blur color; 
       box-shadow: 10px 10px 10px rgba(0,0,0,0.5); */
}

.title {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0;
}

.desc {
    line-height: 1.7em;
    font-size: .9em;
    color: #4C4C4C;
}

a {
    text-decoration: none;
    background: #058e3f;
    color: white;
    display: inline-block;
    padding: .7em 2em;
    border-radius: 2em;
    margin-top: 1em;
}
